{% extends "main/baseFarmer.html.twig" %}
{% block body %}





<h2>order</h2>

  <table class="table table-striped ">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">prepared</th>
      <th scope="col">action</th>
      
      
    </tr>
  </thead>
  <tbody>
    
    {% for od in orders %}
    <tr>
     
      <th scope="row">{{od.getId() }}</th>
      {% if not od.isIsPrepared() %}
      <td>not prepared</td>
      {% else %}
      <td>prepared</td>
      {% endif %}

     {% if not od.isIsPrepared() %}
    <td><a class="btn btn-primary" href="{{ path("farmer/markPrepared",{'idOrder':od.getId(),'to':1}) }}">mark as prepared </a></td>
    {% else %}
      <td><p class="text-danger">not delivred yet </p></td>
    {% endif %}
    

      
    </tr>
    {% endfor %}
     
      </tbody>
</table>

<br><br><br>





{% endblock %}