<body>
    
    <form action="{{ path('login') }}" method="post">
        mail<br>
            <input name="usermail" type="mail">
            <br> password <br>
            <input name="userpassword" type="password">
            <button type="submit">submit</button>
    </form>
    

</body> 