{% extends "base.html.twig" %}

{% block body %}
<h1> my card </h1><br><br><br><br>
{% for od in orders %}

  <ul class="list-group">
    <li class="list-group-item"><h2>{{ od.getFarm().getFarmName() }}</h2></li>
    {% for item in od.getItems() %}
    <li class="list-group-item">{{item.getProduct().getProductName()}}</li>
    {% endfor %}<br>
   
  </ul>
  <a type="button" class="btn btn-danger" href="{{path("greengrocer/deletefromcard",{'idGreen':od.getGreengrocer().getId(),'idCard':od.getId() })}}"data-bs-dismiss="modal">cancel   </a>
  <a type="button" class="btn btn-primary" href="{{path("greengrocer/makeorder",{'idGreen':od.getGreengrocer().getId(),'idCard':od.getId() })}}">order</a>
  <br><br><br>
  {% endfor %}
  {% endblock %}